# Dependências
node_modules/

# Build
dist/
build/
.vite/

# Ambiente
.env
.env.local
.env.dev
.env.production

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Prisma 
prisma/migrations/dev.db

# TypeScript
*.tsbuildinfo